<section class="container">
  <h2 class="titulo">Endereços MAC cadastrados</h2>
<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Nome</th>
    <th class="tabela__cabecalho__conteudo">MAC</th>
  </thead>

  <tbody *ngIf="cadastros.length>0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let cadastro of pageCadastros.reverse()">
    <td class="tabela__conteudo">{{cadastro.nome}}</td>
    <td class="tabela__conteudo">{{cadastro.mac}}</td>
  </tr>
  </tbody>
</table>

<div class="paginator">
  <jw-pagination [items]="cadastros" (changePage)="onChangePage($event)"></jw-pagination>
</div>
<ng-template #listaVazia>
    <p>Nenhum Cadastro</p>
</ng-template>
</section>
